sector:
  # docs-co2
  co2:
    sequestration_potential: 0
    policy: "config/policy_constraints/sector_co2_limits.csv"
  # docs-ng
  natural_gas:
    imports:
      min: 0.99
      max: 1.01
    exports:
      min: 0.99
      max: 1.01
    cyclic_storage: true
    standing_loss: 0
    marginal_cost_multiplier: 1
  methane:
    upstream_leakage_rate: 0.02 # per unit 
    downstream_leakage_rate: 0.02 # per unit 
    gwp: 0 
  # docs-heating
  heating:
    heat_pump_sink_T: 55.
  # docs-service
  service_sector:
    dynamic_costs: True
    split_res_com: True # false to be implemented 
    split_urban_rural: False
    water_heating: 
      split_space_water: true
      simple_storage: true
      n_hours: 4
    split_space_water_heating: True
    brownfield: True
    gas_connection:
      rural: 1 # to be implemented
      urban: 1 # to be implemented
    technologies:
      space_heating:
        elec_furnace: true
        gas_furnace: true
        oil_furnace: true
        heat_pump: true
        air_con: true
      water_heating: 
        elec_water_tank: true 
        gas_water_tank: true
        oil_water_tank: false
      standing_losses: # per-unit
        space: 0.05
        water: 0.01
    loads: # to be implemented 
      heating: true
      cooling: true
    demand_response: 
      shift: 0
      marginal_cost:
        electricity: 5
        space-heat: 5
        cool: 5
        heat: 5
  # docs-transport
  transport_sector:
    brownfield: True # false to be implemented
    dynamic_costs: True # false to be implemented 
    ev_policy: "config/policy_constraints/ev_policy.csv"
    must_run_evs: True
    modes: # false to be implemented 
      vehicle: true
      rail: true
      air: true
      boat: true
    demand_response: 
      shift: 0
      marginal_cost: 10
  # docs-industrial
  industrial_sector: 
    brownfield: True # false to be implemented
    dynamic_costs: True # false to be implemented 
    technologies: # false to be implemented
      gas_furnace: true
      coal_furnace: true
      heat_pump: true
    demand_response: 
      shift: 0
      marginal_cost:
        electricity: 5
        heat: 5