# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!

pypsa
# powerplantmatching>=0.5.5
atlite>=0.2.9
dask[distributed]
matplotlib
scikit-learn
pyyaml
seaborn
snakemake
cartopy
plotly

# docs
myst-parser
pydata-sphinx-theme
sphinx-book-theme
sphinxcontrib-bibtex
# docutils
